@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');
.redressed {
	font-family: 'Redressed', cursive;
}
.merriweather {
	font-family: 'Merriweather', serif;
}
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
} */
.bg {
   max-width: 350px;
    object-fit: cover;   
}
.panier{
    color: #1c1616e2;
}
.detail-panier-1{
   
    border: 1px solid #1c1616e2;
    color: #1c1616e2;
    height: 100%;
    transition: background-color .4s ease-out;
    
}
.detail-panier-1:hover{
    opacity: 1;
    height: 100%;
    background-color: #1c1616e2;
    border: none;
    color: #fff;
  }
.detail-panier-1:hover .panier{
  
  color: #fff;
}
.bg img{
    width: 100%;
    object-fit: cover;    
}
.footer{
    background-color: #231a1ae2;
}
.btn0{
    border: none;
    outline: none;
    background-color: #1c1616e2;
    color: #b5bba4;
    height: auto;
    width: 100px;
}
.btn:hover{
    background-color: #3b3232e2;
    color:  #b5bba4;
    transition: 4s;
}
.btn0:hover, .btn2:hover{
    background-color: #b5bba4;
    color: #3b3232e2;
    transition: 4s;
}
.btn{
    border: 1px solid #3b3232e2;
    width: 100px;
    outline: none;

}
.fon-size{
    font-size: 20px;
}
#Acceuil{
    background: url('https://media.istockphoto.com/id/1325341272/fr/photo/salon-blanc-moderne-avec-canap%C3%A9-table-basse-plante-de-cactus-et-suspension.jpg?b=1&s=170667a&w=0&k=20&c=kfYGF8XVGebi56n-8HYAEQ7R2L3sBTu23CHGC53o-ZU='); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
        height: 560px;    
}
#Acceuil .font-size{
    font-size: 14px;
}
@media screen and (max-width: 750px){
    #Acceuil{
        height: 330px;  
    }
    #Acceuil .font-size{
        font-size: 9px;
    }
    .fon-size{
        font-size: 14px;
    }
}
input{
    height: auto;
    width: 40%; 
    padding: 10px;
    border: none;
    outline: none;
}
.btn2{
    height: 45px;
    width: 100px;
    background-color: #3b3232e2;
    color: #b5bba4;
    border: none;
    outline: none;
}